.brightness-effect:hover {
    filter: brightness(1.2);
}

.brightness-effect:active {
    filter: brightness(1.3);
}

.navbar {
    background-color: #9cc3ff;
    text-decoration: none !important;
}

.navbar-brand {
    font-weight: bold;
}

.navbar-brand:hover {
    color: #2f2e2e;
}

.nav-item {
    background-color: #0d6efd;
    cursor: pointer;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    transition:
        background-color 0.3s,
        color 0.3s;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    margin-right: 7px;
}

.nav-item:hover {
    background-color: #0b5ed7;
}

body {
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-thumb {
    width: 7px;
    background-color: #0b5ed7;
    border-radius: 50px;
}

::-webkit-scrollbar-track {
    border-radius: 50px;
    width: 7px;
    background-color: #9cc3ff;
}

.navbar-toggler {
    color: #0d6efd;
}

.full-height-minus-navbar {
    height: calc(100vh - 68px);
}

.chart:hover {
    transform: scale(1.025);
}

.chart:active {
    transform: scale(1.035);
}

.btn-custom-white {
    background-color: white !important; /* Ensure it overrides other styles */
    color: black !important; /* Text color, you can adjust as needed */
    border: 1px solid #ccc; /* Optional: Add a light gray border */
}

.btn-custom-white:hover {
    background-color: #f8f9fae6 !important; /* Optional: Lighten background on hover */
}

.btn-custom-white:active {
    color: white !important;
    background-color: var(--bs-primary) !important;
}

.form-check-input {
    cursor: pointer;
    transform: scale(1.5);
}

.form-check-label {
    cursor: text;
    margin-right: 7.5px;
}
